html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	text-align: center;
	font-size: 200%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#app {
	margin: 0px auto;
	text-align: left;
	width: 600px;
}

.title {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-align: center;
	font-size: 200%;
}

#curr-date-new-entry {
	font-size: 100%;
}
